.game-intro {
    display: flex;
    float: top;
    background-color: white;
    justify-content: left;
}

body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  p {
      padding-left: 20px;
      padding-right: 20px;
      font-size: larger;
  }