body {
    background-size: cover;
    background-image:url("images/euro21.jpeg");
}



.game-intro {
    background-color: transparent;
    display: flex;
    float: top;
    justify-content: center;
}

#italy-button {
    font-size: 30px;
    background-color: #0b43dd;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

#england-button {
    font-size: 30px;
    background-color: #fc0606;
    color: #fff;
    padding: 20px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#game-board{
    display: flex;
    justify-content: center;
}

  p {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      font-size: 30px;
      color: #fff;
      background-color: darkgreen;
  }